@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

$font-heading: "Caveat", cursive;

$game-background-colour: white;
$button-main-colour: #a82727;
$button-disabled-colour: grey;

$gradient-magic: linear-gradient(to top, #5d26c1, #a17fe0, #59c173);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-heading;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: $gradient-magic;
}

.button {
  font-family: $font-heading;
  font-size: 2rem;
  background: $button-main-colour;
  color: white;
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:disabled {
    background: $button-disabled-colour;
  }
}

.game-container {
  background: $game-background-colour;
  font-size: 2rem;
  border-radius: 25px;
  padding: 2rem;
  width: 80%;
  min-width: 800px;
  max-width: 1170px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "bar bar"
    "p e";
}

.game-bar {
  grid-area: bar;
  width: 100%;
  border-bottom: solid 1px grey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  &--hidden {
    display: none;
  }

  #playerName {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.char-img {
  width: 300px;

  transition: all 0.5s ease-in;

  &--enemy {
    transform: scaleX(-1);
  }
  &--attack-right-animation {
    animation: 0.5s attack-right;
  }
  &--attack-left-animation {
    animation: 0.5s attack-left;
  }
  &--player-dead {
    transform: rotate(-90deg) translateX(-50px);
  }
  &--enemy-dead {
    transform: rotate(90deg) translateX(-50px);
  }
}

.player {
  grid-area: p;
}

.enemey {
  grid-area: e;
}

@keyframes attack-right {
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes attack-left {
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
